MQTT_ENABLED=true
MQTT_HOST=8ff996d961eb4122ab06d0f84b2f5de6.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_WEBSOCKET_PORT=8884
MQTT_USERNAME=replace-with-hivemq-username
MQTT_PASSWORD=replace-with-hivemq-password
MQTT_CLIENT_ID=basa-web-backend
MQTT_COMMAND_TOPIC=basa/command
MQTT_TELEMETRY_TOPIC=basa/telemetry
MQTT_KEEPALIVE=60
